*{
    margin: 0;
    padding: 0;
}
/*background e fonte*/
body{

    background: rgb(0,211,255);
    color: rgb(255, 255, 255);
    font: normal 20px Verdana;
}
/*Sunny texto*/
header{
    
    text-align: center;
    width: 100%;
    margin: auto;

}
    /*logo */
.slogo{
    
    text-align: center;
    width: 100%;
    margin: auto;
    display: inline;
    width: 10px;
    background-image: url(../imgs/logo.png);
    background-repeat: no-repeat;
}

.sunny{
    font: bold 2em Verdana;
    padding-bottom: 5%;
}
.login, .senha, .entrar{
    text-align: center;
    width: 100%;
    margin: auto;
}
/*inputs*/
.senha input, .login input{
    display: inline-block;
    
    
}
.login input, .senha input{
    color: rgb(255, 255, 255);
    padding-right: 30px;
    background-color: rgba(255, 255, 255, 0.938);
    border: solid 5px rgba(255, 255, 255, 0.596);
    border-radius: 20px;
    text-align: left;
    
    
}
.login input:focus, .senha input:focus{
    background-color: rgba(128, 128, 128, 0.281);
}
.senha input{
    padding-right: 30px;
}
/**/
/*padding do input senha-botão*/
.senha + .entrar{
    padding: 150px 0 5px 0;
}
input{
    color: rgba(192, 192, 192, 0.377);
    
}
/*botão entrar*/
.entrar p{
    font: bold 1em Arial;
    background-color: rgb(255, 217, 0);
    border-radius: 15px;
    display: inline-block;
    padding: 15px 5% 15px 5%;
}
.entrar p:hover{
    background-color: rgba(255, 217, 0, 0.864);
}
a:link{
    text-decoration: none;
    
}








footer{
    width: 100px;
    padding-top: 5.25%;
    font: italic 10px Verdana;
    margin: auto;
    text-align: center;
}
.esqueceu-cadastrar{
    text-align: center;
    width: 220px;
    margin: auto;
    font: normal 12px Verdana;
}
